<ol class="currency flexrow">
  <h3>
    <a class="currency-convert rollable" data-action="convertCurrency" title="{{localize 'DND5E.CurrencyConvert'}}">
      <i class="fas fa-coins"></i>
    </a>
    <a style="margin-left: 4px;" class="currency-regenerate rollable" data-action="regenerateCurrency" title="Regenerate Currency">
      <i class="fas fa-redo"></i>
    </a>
    {{#if config.hasToken}}
    <a style="margin-left: 4px;" class="currency-loot rollable" data-action="convertToLoot" title="Convert to Loot">
      <i class="fas fa-shopping-bag"></i>
    </a>
    {{/if}}
  </h3>
  {{#each data.currency as |v k|}}
  <label style="margin-left: 4px;" class="denomination {{k}}">{{lookup ../config.currencies k}}</label>
  <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
  {{/each}}
</ol>