<ol class="currency flexrow">
  <h3>
    <a class="currency-convert rollable" data-action="convertCurrency" title="{{localize 'DND5E.CurrencyConvert'}}">
      <i class="fas fa-coins"></i>
    </a>
    <a style="margin-left: 4px;" class="currency-regenerate rollable" data-action="generateCurrency" title="{{localize 'PocketChange.GenerateCurrency'}}">
      <i class="fas fa-redo"></i>
    </a>
    {{#if config.hasToken}}
    {{#if config.isLootSheet}}
    <a style="margin-left: 4px;" class="currency-loot rollable" data-action="convertToLootable" title="{{localize 'PocketChange.ConvertToLootable'}}">
      <i class="fas fa-shopping-bag"></i>
    </a>
    {{/if}}
    {{#if config.isItemPiles}}
    <a style="margin-left: 4px;" class="currency-loot rollable" data-action="convertToItemPiles" title="{{localize 'PocketChange.ConvertToItemPiles'}}">
      <i class="fas fa-box-open"></i>
    </a>
    {{/if}}
    {{/if}}
  </h3>
  {{#each system.currency as |v k|}}
  <label style="margin-left: 4px;" class="denomination {{k}}">{{lookup ../config.currencies k}}</label>
  <input type="number" step="any" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" />
  {{/each}}
</ol>