<li class="currency-item convert">
  <a class="currency-convert rollable" data-action="convertCurrency" title="{{localize 'DND5E.CurrencyConvert'}}">
    <i class="fas fa-funnel-dollar"></i>
  </a>
</li>
<li style="margin-left: 4px;" class="currency-item convert">
  <a class="currency-regenerate rollable" data-action="generateCurrency"
    title="{{localize 'PocketChange.GenerateCurrency'}}">
    <i class="fas fa-redo"></i>
  </a>
</li>
{{#if config.hasToken}}
{{#if config.isLootSheet}}
<li style="margin-left: 4px;" class="currency-item convert">
  <a class="currency-loot rollable" data-action="convertToLootable"
    title="{{localize 'PocketChange.ConvertToLootable'}}">
    <i class="fas fa-shopping-bag"></i>
  </a>
</li>
{{/if}}
{{#if config.isItemPiles}}
<li style="margin-left: 4px;" class="currency-item convert"></li>
  <a class="currency-loot rollable" data-action="convertToItemPiles"
    title="{{localize 'PocketChange.ConvertToItemPiles'}}">
    <i class="fas fa-box-open"></i>
  </a>
</li>
{{/if}}
{{/if}}
