<div class="inventory-footer">
  <div class="inventory-currency">
    <ul class="currency">
      <li class="currency-header" title="{{localize 'DND5E.Currency'}}">
        <i class="fas fa-coins"></i>
      </li>
      {{#each data.currency as |v k|}}
      <li class="currency-item {{k}}" title="{{ lookup ../config.currencies k }}">
        <input type="text" name="data.currency.{{k}}" id="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        <label for="data.currency.{{k}}" class="denomination {{k}}" data-denom="{{k}}">{{ lookup
          ../config.currencies k }}</label>
      </li>
      {{/each}}
      <li class="currency-item convert">
        <a class="currency-convert rollable" data-action="convertCurrency"
          title="{{localize 'DND5E.CurrencyConvertHint'}}">
          <i class="fas fa-funnel-dollar"></i>
        </a>
        <a style="margin-left: 4px;" class="currency-regenerate rollable" data-action="regenerateCurrency" title="Regenerate Currency">
          <i class="fas fa-redo"></i>
        </a>
        {{#if config.hasToken}}
        <a style="margin-left: 4px;" class="currency-loot rollable" data-action="convertToLoot" title="Convert to Loot">
          <i class="fas fa-shopping-bag"></i>
        </a>
        {{/if}}
      </li>
    </ul>
  </div>
</div>